/* StudentPage.css */
.student-page {
    padding: 20px;
}

.student-page .welcome-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.student-page .courses-heading {
    font-size: 20px;
    color: #444;
    margin-bottom: 15px;
}

.student-page .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.student-page .course-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
}
.student-page .course-thumbnail{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.student-page .course-card h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.student-page .course-progress {
    color: #555;
    margin-bottom: 10px;
}

.student-page .resume-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.student-page .resume-button:hover {
    background-color: #0056b3;
}



/* InstructorPage.css */
.instructor-page {
    padding: 20px;
}

.instructor-page .welcome-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.instructor-page .courses-heading {
    font-size: 20px;
    color: #444;
    margin-bottom: 15px;
}

.instructor-page .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.instructor-page .course-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
}

.instructor-page .course-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.instructor-page .course-card h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.instructor-page .course-progress {
    color: #555;
    margin-bottom: 10px;
}

.instructor-page .view-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.instructor-page .view-button:hover {
    background-color: #0056b3;
}
